{% extends "./base.html" %}
{% block content %}
  <div class="space-y-6">
      <div class="bg-white p-6 rounded-lg shadow border border-gray-200">
        
        <!-- Meta -->
        <div class="text-sm text-gray-500 mb-2">
          <span class="font-medium text-gray-700">{{post.title}} {{ post.author }}</span>
          ·
          <span>{{ post.created_at|date:"M d, Y" }}</span>
        </div>

        <!-- Content -->
        <div class="text-gray-800 leading-relaxed">
          {{ post.content }}
        </div>
        <div class="text-gray-800 leading-relaxed">
          TAGS:
          {% for tag in post.tags.all %}
            {{tag.title}}
          {% endfor %}
        </div>
      </div>
        <h1>COMMENTS:</h1>
        {% for comment in post.comments.all %}
              <div class="bg-white p-6 rounded-lg shadow border border-gray-200">
        
                <!-- Meta -->
                <div class="text-sm text-gray-500 mb-2">
                  <span class="font-medium text-gray-700"> {{ comment.author }}</span>
                  ·
                  <span>{{ comment.created_at|date:"M d, Y" }}</span>
                </div>

                <!-- Content -->
                <div class="text-gray-800 leading-relaxed">
                  {{ comment.content }}
                </div>

              </div>
        {% endfor %}

    <div class="flex justify-center">
        {% comment %} {% if user.is_authenticated %} {% endcomment %}
          {% comment %} <a href="{% url 'newpost' %}" class="px-4 py-2 text-sm bg-gray-100 rounded hover:bg-gray-200">New</a>
          {% if page_obj.0%} {% endcomment %}
          {% comment %} <a href="{% url 'editpost' page_obj.0.id %}" class="px-4 py-2 text-sm bg-gray-100 rounded hover:bg-gray-200">Update</a> {% endcomment %}
          <a href="{% url 'newcomment' post.id%}" class="px-4 py-2 text-sm bg-gray-100 rounded hover:bg-gray-200">Comment</a>
          {% comment %} <form method="POST" action="{% url 'delete' page_obj.0.id%}">
              {% csrf_token %}
              <button type="submit" class="px-4 py-2 text-sm bg-gray-100 rounded hover:bg-gray-200">Delete</a>
          </form> {% endcomment %}
          {% comment %} {% endif %}
        {% endif %} {% endcomment %}
    </div>
{% endblock %}