{% extends "./base.html" %}
{% block content %}
    <div class="bg-white p-6 rounded-lg shadow border border-gray-200">
        
        <!-- Meta -->
        <div class="text-sm text-gray-500 mb-2">
          <span class="font-medium text-gray-700">{{post.title}} {{ post.author }}</span>
          ·
          <span>{{ post.created_at|date:"M d, Y" }}</span>
        </div>

        <!-- Content -->
        <div class="text-gray-800 leading-relaxed">
          {{ post.content }}
        </div>

      </div>
    <form method="POST">
        {% csrf_token %}
        {{form.as_p}}
        <button type="submit" class="px-4 py-2 text-sm bg-gray-100 rounded hover:bg-gray-200">POST!</button>
    </form>

{% endblock %}