{% extends "./base.html" %}
{% block content %}
  <div class="space-y-6">
    {% for post in page_obj %}
      <div class="bg-white p-6 rounded-lg shadow border border-gray-200">
        
        <!-- Meta -->
        <div class="text-sm text-gray-500 mb-2">
          <span class="font-medium text-gray-700">{{post.title}} {{ post.author }}</span>
          ·
          <span>{{ post.created_at|date:"M d, Y" }}</span>
        </div>

        <!-- Content -->
        <div class="text-gray-800 leading-relaxed">
          {{ post.content }}
        </div>

      </div>
    {% endfor %}
{% if is_paginated %}
  <div class=" flex justify-center items-center gap-4 mt-6">

    {% if page_obj.has_previous %}
      <a href="?page={{ page_obj.previous_page_number }}"
         class="px-4 py-2 text-sm bg-gray-100 rounded hover:bg-gray-200">
        Previous
      </a>
    {% endif %}

    <span class="text-sm text-gray-600">
      Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>

    {% if page_obj.has_next %}
      <a href="?page={{ page_obj.next_page_number }}"
         class="px-4 py-2 text-sm bg-gray-100 rounded hover:bg-gray-200">
        Next
      </a>
    {% endif %}

  </div>
{% endif %}


    <div class="flex justify-center">
        {% if user.is_authenticated %}
        <a href="{% url 'newpost' %}" class="px-4 py-2 text-sm bg-gray-100 rounded hover:bg-gray-200">New</a>
        <a href="{% url 'editpost' page_obj.0.id %}" class="px-4 py-2 text-sm bg-gray-100 rounded hover:bg-gray-200">Update</a>
        <form method="POST" action="{% url 'delete' page_obj.0.id%}">
            {% csrf_token %}
            <button type="submit" class="px-4 py-2 text-sm bg-gray-100 rounded hover:bg-gray-200">Delete</a>
        </form>
        {% endif %}
    </div>
{% endblock %}