{% extends "./base.html" %}
{% block content %}
  <div class="space-y-6">
    {% for post in page_obj %}
      <div class="bg-white p-6 rounded-lg shadow border border-gray-200">
        
        <!-- Meta -->
        <div class="text-sm text-gray-500 mb-2">
          <span class="font-medium text-gray-700">{{ post.author }}</span>
          ·
          <span>{{ post.created_at|date:"M d, Y" }}</span>
        </div>

        <!-- Content -->
        <div class="text-gray-800 leading-relaxed">
          {{ post.content }}
        </div>

      </div>
    {% endfor %}
    <div class="pagination flex justify-center">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}" class="px-4 py-2 text-sm bg-gray-100 rounded hover:bg-gray-200">Previous</a>
        {% endif %}

        <span class="mt-1 mx-4">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}" class="px-4 py-2 text-sm bg-gray-100 rounded hover:bg-gray-200">Next</a>
        {% endif %}
    </div>
{% endblock %}